body {
  background-image: url('../images/bg.jpg');
  background-repeat: none;
  background-size: cover;
  font-family: 'Pangolin', cursive;
}

header {
  background: #F6C945;
  text-align: center;
  padding: 1em;
}

h1 {
  font-size: 4em;
  font-style: italic;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: -4px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
}

.section-top {
  background-color: #BB4A4A;
  /*background-color: #0D81BE;*/
  border-bottom: 3px solid #0D81BE;
  padding: 1em;
}

.btn {
  margin: .5em;
  position: relative;
}

.btn:hover {
  cursor: pointer;
  color: #0D81BE;
  top: -1px;
  left: -1px;
}

.btn:active {
  top: 1px;
  left: 1px;
  color: #F6C945;
}

.btn:first-of-type {
  margin-left: 0;
}

#new-giphy-input {
  border: none;
  width: 200px;
  padding: 0.35em;
  box-shadow: 1px 1px 1px rgba(0,0,0,.15), 1px 1px 1px rgba(0,0,0,.2);
}

#add-topic {
  border: none;
  background: none;
  color: #F6C945;
  font-size: 1em;
}

#add-topic:hover {
  cursor: pointer;
  color: #0D81BE;
}



#image-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 80%;
  margin: 3em auto;
}

.donut {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 1em;
}

.image {
  width: 200px;
  height: 150px;
}

.image:hover {
  cursor: pointer;
}

.rating {
  text-align: center;
  font-size: 1.25em;
  margin: 0;
  padding: .5em;
  color: #0D81BE;
}

.giphy-wrapper {
  background-color: #FFF;
  padding: .6em;
  box-shadow:0 0 1px rgba(0,0,0,.7),
             3px 3px 7px rgba(0,0,0,.15);
  margin-bottom: 3em;
}
